<h1>When Life Happens</h1>

<img src="img/IMG_7317.jpg" style="width:400px;height:400px;border-radius:25px;  />

When I finished high school, I had no idea which way to choose. I started to study at university(Polygraphic technologies),but the speciality was not to close to my soul.
Then I got married and become pregnant and I left my studies for a while.It was a good period.I was focused more on my family, but at the same time I was looking for the job that will be close to my heart. I didn't want to be a housewife always, also to have a boring job either.
My husband helped me make a good choice. He knows me very well! I have always been good friends with technologies. So I decided to find some IT courses.
I was on a good track for a while. A long while. Can you believe that in a few months it will have been A WHOLE TWO YEARS since I’ve started this?
I’ll be honest. I started this in June 2021 and I didn’t have a great flow going untill fall rolled around, but it was a great flow man…
I was spending about 30% of my work day coding. I was feeling great about my progress.
The family was not an impediment.They helped me and understand!



