@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style=" display:flex;flex-direction:row;margin:100px;margin-left:100px;">
    <div class="text" style="width:600px;">
        <h4 class="display-4" style="margin-top:40px;">Hi There,</h4>
        <div style="display:flex;flex-direction:row; margin-left:80px;"><h1 class="display-1">I am </h1><h1 style="color:#EB2227;font-size:75px;margin-top:8px;"> A</h1><h1 style="color:#D1DF4F;font-size:75px;margin-top:8px;">N</h1><h1 style="color:#29A8E0;font-size:75px;margin-top:8px;">A</h1></div>
    <h6 class="display-6">I am the mother of two 
wonderful children
&  I will be a future programmer </h6>
        <button style="border:none;border-radius:25px;padding:10px;color:white;background-color:#DF4343;">Ask Me A Question</button>
</div>
    <div class="image-home" style="width:600px;margin-left:50px;">
        <img src="https://i.pinimg.com/564x/f9/d1/29/f9d129943516f71d8125330fad289fe4.jpg" />
  </div>  
</div>
